@model List<Domain.Models.CategoryDO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategoriler</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>
